/* ToDoList.css */

.page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Set the container height to full viewport height */
  background-color: rgb(58, 148, 102);

}

.two_container {
  background-color: #198472;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  max-width: 1000px;
  border-radius: 20px;
  margin: auto;
  gap: 20px; /* Add gap space between the two divs */
  padding: 40px;
}

.form-container {
  width: 400px;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
  background-color: #51ac45;
}

h2 {
   font-size: 1.5em;
  display: block;
  text-align: center;
  padding: 10px;
}

.new-item-form {
  display: flex;
  flex-direction: column;
}

#task {
  width: 100%; /* Make the input take the full width within its container */
  height: 40px;
  background-color: rgb(182, 213, 149);
  border-radius: 5px;
  border: none;
  margin-bottom: 10px; /* Add margin to separate from other elements */
}

#reward {
  width: 100%; /* Make the input take the full width within its container */
  height: 40px;
  background-color: rgb(182, 213, 149);
  border-radius: 5px;
  border: none;
  margin-bottom: 10px; /* Add margin to separate from other elements */
}

.add-btn {
  justify-content: center;
  width: 30%;
  display: flex;
  margin: auto;
  text-align: center;
  background-color: var(--primaryColor);
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;

}

.list-container {
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: rgb(164, 205, 102);
  max-height: 450px; 
  overflow-y: scroll;
}

/* Styling for the scrollbar */
.list-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.list-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.list-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners */
}

.list-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.return-link {
  text-decoration: none;
  color: #007bff;
  display: block;
  text-align: center;
}

.delete-btn {
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: var(--paleRed);
}

.btnFormContainer {
 display: flex; 
  gap: 5 px; 
  justify-content: center;
  margin-top: 1vh;
   margin-bottom: 1vh;


.levelSbtn,
.levelMbtn,
.levelLbtn {
  padding: 8px 16px;
  color: #211818;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  gap: 0.5rem;
  transition: 0.3s ease;
}

.levelSbtn {
  background-color: yellow;
}

.levelMbtn {
  background-color: orange;
}

.levelLbtn {
  background-color: rgb(246, 148, 233);
}
.levelSbtn:hover, .levelMbtn:hover, .levelLbtn:hover {
  background-color: rgb(215, 239, 224);
}

}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-buttons button {
  background-color: #298e5f;
  padding: 8px 16px;
  color: #b5acac;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  gap: 0.5rem;
  transition: 0.3s ease;
}



.filter-buttons button.active-filter {
  background-color: rgba(141, 245, 5, 0.604);
}

.error-message{
    color: red;
    margin: auto;
}